{% extends 'base.html.twig' %}

{% block title %}Liste des Réponses{% endblock %}

{% block body %}
    <h1>Liste des Réponses</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reponse in reponses %}
                <tr>
                    <td>{{ reponse.id }}</td>
                    <td>{{ reponse.contenu }}</td>
                    <td>
                        <a href="{{ path('reponse_edit', {'id': reponse.id}) }}" class="btn btn-primary">Éditer</a>
                        <a href="{{ path('reponse_delete', {'id': reponse.id}) }}" class="btn btn-danger" 
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réponse ?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reponse_create') }}" class="btn btn-success">Ajouter une nouvelle réponse</a>
{% endblock %}
