{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question pour le quiz "{{ quiz.titre }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.enonce) }}

        <h3>Réponses</h3>
        <div id="reponses">
            {{ form_widget(form.reponses) }}
        </div>

        <button type="submit">Créer la question</button>
    {{ form_end(form) }}

    <a href="{{ path('question_index', {'quizId': quiz.id}) }}">Retour à la liste des questions</a>
{% endblock %}

