{% extends 'base.html.twig' %}

{% block title %}List of Questions{% endblock %}

{% block body %}
    <h1>List of Questions for Quiz "{{ quiz.titre }}"</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Réponse Correcte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.questionText }}</td>
                    <td>{{ question.reponseCorrecte }}</td>
                    <td>
                        <a href="{{ path('question_show', {'id': question.id}) }}">Voir</a>
                        <a href="{{ path('question_edit', {'id': question.id}) }}">Éditer</a>
                        <a href="{{ path('question_delete', {'id': question.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette question ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_create', {'quizId': quiz.id}) }}">Créer une nouvelle question</a>
{% endblock %}
